.section {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
#who-i-am {
  h1 {
    position: absolute;
    left: -5px;
    top: 10%;
  }
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
  }

  p {
    position: relative;
    top: 70px;
    right: 20px;
    text-align: end;
    font-size: 20px;
    font-family: $secondary-font;
    line-height: 35px;
    background: transparent;
    color: $secondary-color;
  }
}

#values {
  h1 {
    position: absolute;
    left: -10px;
    top: 10%;
  }
  .values__items {
    padding-left: 20%;
    margin-bottom: 30px;
    width: 90%;
  }
}
