nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background-color: $light-background-color;
  width: 100%;
  height: 50px;
  align-items: center;
  div {
    font-family: $secondary-font;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

//COMPU
@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 4%;
    right: 3%;
    background: transparent;
    width: 30%;
    height: 50px;
    align-items: center;
    div {
      font-family: $secondary-font;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
