@import "variables";
#lets-talk {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: $primary-font;
  color: $primary-color;
  font-size: 130px;
  line-height: 120px;
  background: transparent;
  z-index: 0;
}

h3 {
  font-family: $primary-font;
  color: black;
  font-size: 36px;
  background: transparent;
  z-index: 1;
}

.values__items {
  p {
    font-family: $secondary-font;
    color: black;
    font-size: 18px;
    background: transparent;
    z-index: 1;
  }
}
