@import "variables";



// CELU
@media (max-width: 768px) {
  h1 {
    font-family: $primary-font;
    color: $primary-color;
    font-size: 125px;
    line-height: 120px;
    background: transparent;
    z-index: -1;
    overflow-x: hidden;
    max-width: 100%;
  }

  h3 {
    font-family: $primary-font;
    color: black;
    font-size: 36px;
    background: transparent;
    z-index: 1;
    line-height: 42px;
    padding-bottom: 8px;
    letter-spacing:1px;
  }

  .values__items {
    p {
      font-family: $secondary-font;
      color: black;
      font-size: 18px;
      background: transparent;
      z-index: 1;
      line-height:25px;
    }
  }

  #contact-page a, #about a {
    font-family: $secondary-font;
    color: black;
    font-size: 18px;
    background: transparent;
    z-index: 1;
    &:hover {
      color: darken($primary-color, 30);
    }
  }

  #quote {
    p {
      font-family: $secondary-font;
      color: black;
      font-size: 20px;
      font-weight: 300;
      background: transparent;
      z-index: 1;
      line-height: 40px;
    }
  }

}

// COMPU
@media (min-width: 768px) {
  h1 {
    font-family: $primary-font;
    color: $primary-color;
    font-size: 280px;
    line-height: 200px;
    background: transparent;
    z-index: -1;
  }

  h3 {
    font-family: $primary-font;
    color: black;
    font-size: 36px;
    background: transparent;
    z-index: 1;
  }

  .values__items {
    p {
      font-family: $secondary-font;
      color: black;
      font-size: 18px;
      background: transparent;
      z-index: 1;
      line-height: 28px;
      letter-spacing: 0.3px;
    }
  }

  #contact-page a, #about a {
    font-family: $secondary-font;
    color: black;
    font-size: 18px;
    background: transparent;
    z-index: 1;
    &:hover {
      color: darken($primary-color, 30);
    }
  }

  #quote {
    p {
      font-family: $secondary-font;
      color: black;
      font-size: 24px;
      font-weight: 300;
      background: transparent;
      z-index: 1;
      line-height: 40px;
    }
  }

}
