// COLORS
$primary-color: rgba(74, 154, 149, 0.5);
$secondary-color: rgba(0, 0, 0, 0.5);
$third-color: rgba(158, 158, 158, 0.5);

$light-background-color: #f8f8f8;

$primary-font: "Rozha One", serif;
